<%= render partial: 'settings_toolbar' %>
<h1>Edit Setting</h1>
<%= form_for @setting do |f| %>
  <span>Key</span>
  <code><%= @setting.key %></code>
  <%= f.label :value, "Value" %>
  <%= f.text_field :value %>
  <%= f.submit 'Update' %>
<% end %>