<%= render partial: 'search_toolbar' %>
<h1>Searches</h1>

<table>
  <thead>
  <tr>
    <td>ID</td>
    <td>Latitude</td>
    <td>Longitude</td>
    <td>Results</td>
    <td>Actions</td>
  </tr>
  </thead>
  <tbody>
  <% @searches.each do |search| %>
    <tr>
      <td><%= search.id %></td>
      <td><%= search.lat %></td>
      <td><%= search.lng %></td>
      <td>99</td>
      <td><%= link_to("Details", search_path(search.id)) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
