<%= render partial: 'search_toolbar' %>
<h1>Create a Search</h1>
<%= form_for @search do |f| %>
  <%= f.label :lat, "Latitude" %>
  <%= f.text_field :lat %>
  <%= f.label :lng, "Longitude" %>
  <%= f.text_field :lng %>
  <%= f.label :max, "Max" %>
  <%= f.text_field :max %>
  <%= f.label :offset, "Offset" %>
  <%= f.text_field :offset %>
  <%= f.submit 'Search' %>
<% end %>