<%= render partial: 'search_toolbar' %>
<h1>Search #<%= @search.id %></h1>

<dl>
  <dt>Id</dt>
  <dd><%= @search.id %></dd>
  <dt>Latitude</dt>
  <dd><%= @search.lat %></dd>
  <dt>Longitude</dt>
  <dd><%= @search.lng %></dd>
  <dt>Cached Response</dt>
  <dd>
    <pre>
      <%= JSON.pretty_generate(JSON.parse @search.cached_response) unless @search.cached_response.nil? %>
    </pre>
  </dd>
</dl>
