<p>
  <%= link_to("Searches", searches_path) %> |
  <%= link_to("Settings", settings_path) %> |
  <%= link_to("Sessions", sessions_path) %> |
  <% if has_valid_auth_token? %>
    <%= link_to("Logout", session_path('none'), method: :delete) %>
  <% else %>
    <%= link_to("Login", new_session_path) %>
  <% end %>
</p>